@charset "utf-8";

body{
  font-family: "Share Tech", sans-serif;
}

h1 {
  color: #ffff;
  margin: 0;
}

.error{
  color: #0594D0;
  font-size: 6rem;
}

nav{
  background-color: #0594D0;
}

.bot-list{
  background: url("./assets/img/full-user.png") no-repeat center;
  height: 87vh;
  scrollbar-width: thin;
  scrollbar-color: #0594d0 #ffff;
}

.border-end{
  border-color: #0594D0 !important;
}

.border{
  border-color: #0594D0 !important;
}

.list-group-item{
  background-color: #04BBFF;
  border-color: #0594D0 !important;
  color: #ffff;
}

.chat{
  height: 85vh;
  padding: 0 !important;
}

.chat-window{
  height: 80vh;
  scrollbar-width: thin;
  scrollbar-color: #0594d0 #ffff;
}

.card{
  border: #0594D0 solid 3px;
}

.card-header{
  border-bottom: #0594D0 solid 3px;
}

.user-message{
  background-color: #04BBFF;
  color: #ffff;
}

.user-footer{
  color: #ffff !important;
}